<%= form_tag({:controller => "production_record_assistant", :action => "production_order_select"},
             :id => 'production_order_selection_form', :method => "get", remote: true) do %>
    <div class="form-group">
      <%= select_tag :production_order,
                     options_from_collection_for_select(@production_orders, :id, :display_name_with_article),
                     class: 'form-control' %>
    </div>

    <%= submit_tag "Weiter", :name => nil, class: 'btn btn-default' %>
<% end %>