


<div class="panel panel-default">
  <div class="panel-heading">Buchungsassistent</div>

  <div class="panel-body">

    <div id="current_page_container">
      <%= render 'step1' %>
    </div>

  </div>
</div>